  nav{
  color: black;
  margin-left: 50px;
  font-size: 15px;
  padding: 10px;
  display: flex;
  
}

.footer{
  width: 20px;
}

nav a,
details {
  text-decoration: none;
  font-family: sans-serif;
  margin-left: 10px;
}

header {
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.header_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.first_line {
  display: flex;
  width: 150%;
  margin-bottom: 30px;
  margin-top: 20px;
  justify-content: space-between;
}

.part_one {
  margin-left: 22%;
}


.part_two {
  display: flex;
  gap: 20px;
}

.button{
display: flex;
justify-content: center;
}

.full-menu-button {
padding: 10px 30px;
border: 1px solid gray;
border-radius: 5px;
text-align: center;
margin-top: 20px;
cursor: pointer;
background-color: #fff;
display: block;
}

.full-menu-button:hover {
box-shadow: 0px 3px 3px gray;
}

.second_row, .first_row, .third_row, .fourth_row{
display: flex;
justify-content: center;
}

.fourth_row {
align-items: center;
width:100%;
}


details[open] .header-summary::after {
transform: rotate(270deg) scaleX(1.3);
}


.menu-content {
display: flex;
flex-wrap: wrap;
gap: 10px;
margin-top: 10px;
background-color: #fff;
padding: 15px;
border: 1px solid #e0e0e0;
max-width: 400px;
margin: 0 auto;
}

.menu-item {
text-align: center;
width: 20%;
max-width: 100px;
}

.menu-item img {
width: 80px;
height: auto;
}

.menu-item span {
display: block;
margin-top: 5px;
font-size: 14px;
}

.header-summary {
list-style: none;
cursor: pointer;
display: inline-block;
position: relative;
font-size: 18px;
border: none;
padding-right: 20px;
}

.header-summary::after {
content: 'ᐳ';
font-size: 12px;
margin-left: 8px;
display: inline-block;
transform: rotate(90deg) scaleX(1.3);
transition: transform 0.3s ease;
}

.nav_and_links {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  padding-top: 50px;
}

.mcdonald {
  width: 80px;
  height: 70px;
}

.qqq {
  display: flex;
  justify-content: space-evenly;
}

.r {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.logo{
  display: flex;
  padding-top: 50px;
}

.mcdonald {
  width: 80px;
  height: 70px;
}

a {
  padding: 0px;
  text-decoration: none;
  color: black;
}

main{
  padding: 100px;
  text-align: center;
}



.qqq{
  display: flex;
  justify-content: space-evenly;
}

.contacts_div{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contacts_part_one{
  margin-left: 9%;
}

.contacts_part_two{
  margin-right: 8%;
}
.contacts_part_two img{
  width: 170px;
  height: 40px;
}

.end{
  display: flex;
  justify-content: space-between;
}

.end_part_one{
  display: flex;
  gap: 50px;
  margin-left: 9%;
}

.end_part_two{
  margin-right: 8%;
  display: flex;
  align-items: center;
  gap: 20px;
}
